html {
	background-color: #eeeeee;
	margin-top: 25px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 50px;
	font-family: sans-serif;
	color: #808080;
}

h1 {
	font-size: 80px;
	margin-bottom: 40px;
}

td {
	width: 350px;
	font-size: 40px;
	margin-right: 10px;
}

.div-table {
	display: table;
	font-size: 40px;
}

.div-table-row {
	display: table-row;
	font-size: 40px;
}

.div-table-col {
	display: table-cell;
	padding: 10px;
	font-size: 40px;
}

input[type=text] {
	font-size: 40px;
	margin-right: 10px;
}

button[type=submit] {
	font-size: 30px;
	height: 55px;
	width: 200px;
}

from_word {
	color: black;
}

.ui-autocomplete {
	font-size: 30px;
}